/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    
}
.profil {
    width: 250px;
    box-shadow: 1px -1px 5px lightslategray;
}
.foto {
    width: 100%;
}
.logo {
    background-color: #b92e81;
    border-radius: 25px;
}
.hlavicka {
    position: relative;
}
.logo {
    position: absolute;
    top: 142px;
    left: 175px;
}
.obsah {
    background-color:  #31363b;
    padding: 15px;
    margin-top: -20px;
    margin-bottom: -20px;
}
h1 {
    font-family: montserrat;
    color: white;
    font-size: 23px;
    text-align: left;
}
p {
    color: #bdc3c7;
    font-family: source sans pro;
}
ul {
    list-style: none;
    font-family: montserrat;
    text-transform: uppercase;
    padding: 0;
    margin:0;
 }

.odkazy {
    display: flex;
    flex-wrap: wrap;
    background-color: #31363b;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.portfolio {
    width: 250px;
    border-top: 1px solid #3f464d;
    border-bottom: 1px solid #3f464d;
    text-align: center;
    align-content: space-around;
    height: 40px;
    padding: 9px;
}

.portfolio a:hover {
    padding: 6px 42px 6px 42px;
    background: #e74c3c;
    color: white;
}

.portfolio a:link {
    text-decoration: none;
}
.portfolio a:visited {
    color:white;
}

 .facebook {
        width: 125px;
        height: 40px;
        border-right:1px solid #3f464d;
        text-align: center;
        align-content: center;
        padding: 10px;
         
    }

    .facebook a:hover {
        padding: 6px 15px 10px 15px;
        background: #3b5998;
        color: white;
        width: 50%;
        padding: 10px 20px 10px 10px;
    }  
    
    .facebook a:link {
        text-decoration: none;
    }
    .facebook a:visited {
        color:white;

    }
    .twitter {
        text-align: center;
        width: 50%;
    
    }
    .twitter a:hover {
        padding: 6px 26px 10px 22px;
        background: #1da1f2;
        color: white;
        
    }
    .twitter a:link {
        text-decoration: none;
    }
    .twitter a:visited {
        color:white;
    }


